<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="row">
    <div class="row">
    <div class="block">

        <i class="hoverbtn effect-5 sub-a" routerLink="/menu">Sign Out</i>
    </div>

    <div class="block">

        <i class="hoverbtn effect-7 sub-b"routerLink="/tickets">Transaction History</i>
    </div>

    <div class="block">

        <i class="hoverbtn effect-7 sub-a" routerLink="/pending">Pending</i>
    </div>
</div>



<div class="row">
    <div class="block">
        <i class="hoverbtn effect-1 sub-a" routerLink="/submitticket">Submit Ticket</i>
    </div>
<div class="row">

     
        <i class="hoverbtn effect-4 sub-b">IBM Reimbursement System Inc.</i>
    
	</div>
</div>
</div>