<!-- Form to submit -->
  <!-- <form (ngSubmit)="login()">
  <input type="text" name="username" [(ngModel)]="credential.username" placeholder="username">
  <input type="text" name="password" [(ngModel)]="credential.password" placeholder="password">
  <button type="submit" class="btn-btn-primary"> Submit</button>
</form>   -->
<!-- 
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->



<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
	<form (ngSubmit)="login()">
  <input type="text" name="username" [(ngModel)]="credential.username" placeholder="Username">
  <input type="text" name="password" [(ngModel)]="credential.password" placeholder="Password">
  <button type="submit" class="btn-btn-primary">Login</button>
</form>   




	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div> 
