<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ExpenseReimbursement</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>ServletLauncher.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Ticket</servlet-name>
    <servlet-class>ServletLauncher.TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ticket</servlet-name>
    <url-pattern>/ticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>ServletLauncher.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Submitticket</servlet-name>
    <servlet-class>ServletLauncher.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Submitticket</servlet-name>
    <url-pattern>/submitticket</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Pending</servlet-name>
    <servlet-class>ServletLauncher.PendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pending</servlet-name>
    <url-pattern>/pending</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Approve</servlet-name>
    <servlet-class>ServletLauncher.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
</web-app>